.Appli {
  .ajoutRessource {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #333;
    &:hover {
      background-color: #444;
    }
  }
  .option-tri{
    margin: 2vh 0 0 3vw;
  }
}